<!--﻿<div class="modal-dialog">
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
        <p>{{modalOptions.bodyText}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>-->

<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-edit"></span>{{vm.title}} Customer</h3>
        </header>
        
        <div class="modal-footer">
            <button type="button" class="btn" data-ng-click="vm.modalOptions.close()">{{vm.modalOptions.closeButtonText}}</button>
            <button class="btn btn-primary" data-ng-click="vm.modalOptions.ok();">{{vm.modalOptions.actionButtonText}}</button>
        </div>
        
        <form name="editForm" novalidation>
            <div class="customerEdit">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{vm.customer.firstName+"  "+vm.customer.lastName}}<span ng-hide="vm.customer.id == 0">(View Orders)</span></h4>
                        <br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        First Name:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="firstName" class="form-control" ng-model="vm.customer.firstName" required />
                        <span class="errorMessage" ng-show="editForm.firstName.$invalid">First name is required</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Last Name:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="lastName" class="form-control" ng-model="vm.customer.lastName" required />
                        <span class="errorMessage" ng-show="editForm.lastName.$invalid">Last name is required</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Gender:
                    </div>
                    <div class="col-md-10">
                        <div class="radio">
                            <label for="gender">
                                <input type="radio" name="gender" value="Male" class="form-control" ng-checked="vm.customer.gender == Male" ng-model="vm.customer.gender" /> Male
                            </label>
                        </div>
                        <div class="radio">
                            <label for="gender">
                                <input type="radio" name="gender" value="Female" class="form-control" ng-checked="vm.customer.gender == Female" ng-model="vm.customer.gender" /> Female
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Email:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="email" class="form-control" ng-model="vm.customer.email" required />
                        <span class="errorMessage" ng-show="editForm.email.$invalid">Email is required</span>
                    </div>
                    <br />
                    <div class="col-md-2">
                        Address:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="address" class="form-control" ng-model="vm.customer.address" required />
                        <span class="errorMessage" ng-show="editForm.address.$invalid">Address is required</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        City:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="city" class="form-control" ng-model="vm.customer.city" required />
                        <span class="errorMessage" ng-show="editForm.city.$invalid">City is required</span>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-2">
                        State:
                    </div>
                    <div class="col-md-10">
                        <select name="state" class="form-control" required ng-model="vm.customer.stateId" ng-options="state.id as state.name for state in vm.states">
                            <option value=""></option>
                        </select>

                        <span class="errorMessage" ng-show="editForm.state.$invalid">2 character state is required</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Zip:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="zip" class="form-control" ng-model="vm.customer.zip" required />
                        <span class="errorMessage" ng-show="editForm.zip.$invalid">Zip is required</span>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primery" ng-click="vm.saveCustomer()" ng-disabled="editForm.$invalid || !editForm.$dirty">
                            {{vm.buttonText}}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" ng-if="vm.customer.id > 0" ng-click="vm.deleteCustomer()">
                            {{vm.buttonText}}
                        </button>
                    </div>
                </div>
                <br />

                <div class="statusRow">
                    <br />
                    <div class="label label-success" ng-show="vm.updateStatus">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Customer updated!
                    </div>
                </div>

                <div class="statusRow">
                    <br />
                    <div class="label label-important" ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>

            </div>
        </form>
        
        
        
    </div>
</div>